.home1 {
  width: 100%;
  height: 900px;
  position: relative;
  font-family: roboto;
  .background {
    width: 1000px;
    height: 900px;
    position: absolute;
    top: -60px;
    right: 0px;
    z-index: 0;
  }
  .manImage {
    width: 650px;
    height: 680px;
    position: absolute;
    top: 100px;
    right: 0px;
  }
  p {
    width: 500px;
    font-weight: 500;
    font-size: 40px;
    line-height: 66px;
    letter-spacing: 1px;
    color: #091133;
    position: absolute;
    top: 160px;
    left: 170px;
  }
  .text {
    width: 500px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #505f98;
    position: absolute;
    top: 300px;
  }
  .leftButton {
    width: 160px;
    height: 26px;
    text-decoration: none;
    text-align: center;
    font-family: roboto;
    border-radius: 2px;
    border: 3px solid #111b47;
    background-color: #111b47;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    position: absolute;
    top: 500px;
    left: 170px;
    &:hover {
      background-color: white;
      color: #111b47;
    }
  }
  .rightButton {
    width: 160px;
    height: 26px;
    text-decoration: none;
    text-align: center;
    font-family: roboto;
    border-radius: 2px;
    border: 3px solid #111b47;
    background-color: white;
    color: #111b47;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    position: absolute;
    top: 500px;
    left: 350px;
    &:hover {
      background-color: #111b47;
      color: white;
    }
  }
}
